

<div id="map"></div>

<!-- <input type="text" ng-model="busstop" placeholder="bus stop number"/>
<input type="text" ng-model="bus" placeholder="bus number"/>
<button ng-click="trackBus()">Track Bus</button> -->
<div ng-repeat="pair in busStopArr">
	<md-list-item class="secondary-button-padding busstop-border" ng-click="selectBusStop(pair.Stops)"  >
		<div style="display: block; width:55%;" >
				<div ng-repeat="stop in pair.Stops" >
					<div class="busstop-label-home" style="display: -webkit-inline-box">

						<span class="stopname">{{stop.Description}}</span>
						<span class="stopnumber">{{stop.BusStopCode}}</span>
					</div>
				</div>
			<p>{{pair.RoadName}}</p>

		</div>
	  
	    <div  ng-click="doSecondaryAction($event)" style="width: 45%">
	    	<div ng-repeat="service in pair.ServiceArr">
    			<span>{{service}}</span>
	    	</div>
	    </div>
	</md-list-item>
</div>  
<!-- 
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; -->